
main {
  @include flex-row;
  justify-content: space-between;
  padding: 0 5rem;

  .conteúdo {
    width: 50%;
    height: 100vh;
    margin-top: -2rem;
    @include flex-row;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    h2 {
      color: $Red;
      font-family: 'Inter';
      font-size: 1rem;
    }

    h1 {
      font-family: 'Bely Display';
      margin-top: -2rem;
      font-size: 4rem;
      color: $Almost-Black;
    }

    p {
      color: $Almost-Black;
      font-family: 'Inter';
      font-size: 1.2rem;
    }

    button {
      font-size: 1.5rem;
      font-family: 'Inter';
      font-weight: 500;
      padding: 0.8rem;
      background: $Almost-White;
      border: 2px solid black;
      border-radius: 10px;
      width: 45%;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: $Almost-White;
        background-color: $Purple;
        border: 2px solid $Purple;
      }
    }
  }

  .banner {
    width: 50%;
    height: 100vh;
    overflow: hidden;

    img{
      width: 145%;
      height: 140%;
      transform: translate(-10%, -12%);
    }
  }

}