@import "variables.scss";

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: 'Epilogue', sans-serif;
}

body {
  height: 100vh;
  background-color: $Almost-White;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  @include efeitoVidro;
  @include flex-row;
  justify-content: space-between;
  padding: 1rem 5rem;
 
  .logo {
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 500;
    color: $Almost-Black;
  }

  nav {
    @include flex-row;
    align-items: baseline;
    gap: 4rem;

    ul {
      @include flex-row;
      gap: 1.5rem;

      .nav-li{
        padding-bottom: 1rem;
        padding-right: 1rem;
      }

      li {
    
        .dropDown {
          display: none;
          margin-top: 1rem;
          position: absolute;
          @include dropDown;
        }

        a {
          color: $Almost-Black;
          @include hover;
          padding: 0.5rem;
          text-decoration: none;
          font-family: 'Inter';
          font-size: 1rem;
          font-weight: 500;
          position: relative;
          width: 100%;
          height: 100%;

          span{
            font-size: 2rem;
            position: absolute;
            transform: translate(50%,-55%);
            transition: all 1.3s;

          }

        }
      }
    }
  }

  li:hover{
    .dropDown {
      display: inherit;
    }
    a span{
      position: absolute;
      transform: translate(50%, 25%) rotateX(180deg);
    }
  }

  .buttons {
    @include flex-row;

    button {
      font-family: 'Inter';
      font-weight: 500;
      @include hover;
      font-size: 1rem;
      background-color: $Almost-White;
    }

    .b-right {
      padding: 0.8rem;
      border: 2px solid $Almost-Black;
      border-radius: 10px;
      margin: 0 1.5rem;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: $Almost-White;
        background-color: $Purple;
        border: 2px solid $Purple;
      }
    }
  }
}

main {
  @include flex-row;
  justify-content: space-between;
  padding: 0 5rem;

  .conteúdo {
    width: 50%;
    height: 100vh;
    margin-top: -2rem;
    @include flex-row;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    h2 {
      color: $Red;
      font-family: 'Inter';
      font-size: 1rem;
    }

    h1 {
      font-family: 'Bely Display';
      margin-top: -2rem;
      font-size: 4rem;
      color: $Almost-Black;
    }

    p {
      color: $Almost-Black;
      font-family: 'Inter';
      font-size: 1.2rem;
    }

    button {
      font-size: 1.5rem;
      font-family: 'Inter';
      font-weight: 500;
      padding: 0.8rem;
      background: $Almost-White;
      border: 2px solid black;
      border-radius: 10px;
      width: 45%;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: $Almost-White;
        background-color: $Purple;
        border: 2px solid $Purple;
      }
    }
  }

  .banner {
    width: 50%;
    height: 100vh;
    overflow: hidden;

    img{
      width: 145%;
      height: 140%;
      transform: translate(-10%, -12%);
    }
  }

}

.continue{
  width: 100%;
  @include flex-row;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -3.5rem;
  h1{
    font-family: 'Inter';
    font-size: 1rem;
    color: $Almost-Black;
  }
}

.ponto{
  margin-top: 10rem;
}
//animação no hover
// hover com o menu cinza e a opção em preto 