@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

@mixin flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin hover{
  color: $Almost-Black;
  transition: all 0.3s;
    &:hover{
      cursor: pointer;
    }
    a:hover {
      color: $Almost-White;
    }
      
}

@mixin dropDown{
  ul{
    background-color: hsl(0, 0%, 98%);
    padding:4px 8px;
    width: 145px;
    height: 175px;
    border-radius: 12px;
    box-shadow:  6px 6px 29px rgba(100, 100, 111, 0.2);
    list-style: none;
    display: grid;
    justify-content: start;
    align-content: space-evenly;
    span{
    margin-right: 12px;
    }
  }
}

*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Epilogue', sans-serif;
}

body{
  height: 100vh;
  background-color: $Almost-White;
}

header{
  @include flex-row;
  margin: 15px;
  
  nav{
   @include flex-row;  
    .logo{
      margin: 0px 15px;
      font-size: 30px;
      color: $Almost-Black;
    }
    ul{
      @include flex-row;
      li{
        list-style: none;
        margin: 0px 5px;
        
         .dropDown{
            display:none;
            margin-top: 10px;
            position:absolute;
            @include dropDown;
         }
 
        a{
          @include hover;
          padding: 10px;
          text-decoration: none; 
          font-size: 16px;
        }   
      }
    }
  }
  
  .buttons{
    @include flex-row; 
    margin: 0px 0px 0px 80px;
    
    button{
      @include hover;
      font-size: 16px;
      background-color: $Almost-White;
    }
    
    .b-right{
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      margin: 0px 10px;
      transition: all 0.3s;
      &:hover{
        cursor: pointer;
        color: $Almost-White;
        background-color: $Almost-Black;
      }
    }
  }
}

li:hover .dropDown {
  display:inherit;
}

main{
   @include flex-row;
   justify-content: space-between;
   
   margin: 0px 70px;
    .conteúdo{
      width:50%;
      display:flex;
      flex-direction: column;
      border: 5px solid red;
      span{
       color: $Medium-Gray; 
      }
      h1{
        font-size: 30px;
        margin:26px 0px;
      }
      p{
        color: $Almost-Black;
      }
      button{
        margin:26px 0px;  
        padding:10px;
        font-size:16px;
      }
    }
    .banner{
      width:50%;
      border: 5px solid red;
    }
  
}



//animação no hover
// hover com o menu cinza e a opção em preto 

