@charset "UTF-8";
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: hsla(0deg, 0%, 98%, 0.35);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 0 0 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}
header .logo {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 8%);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  gap: 4rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header nav ul .nav-li {
  padding-bottom: 1rem;
  padding-right: 1rem;
}
header nav ul li .dropDown {
  display: none;
  margin-top: 1rem;
  position: absolute;
}
header nav ul li .dropDown ul {
  position: relative;
  background-color: hsl(0deg, 0%, 98%);
  padding: 1rem 0;
  width: 10rem;
  height: 12rem;
  border-radius: 1rem;
  box-shadow: 6px 6px 29px rgba(100, 100, 111, 0.2);
  list-style: none;
  display: grid;
  justify-content: center;
  align-content: space-evenly;
}
header nav ul li .dropDown ul span {
  margin-right: 0.5rem;
}
header nav ul li a {
  color: hsl(0deg, 0%, 8%);
  transition: all 0.3s;
  padding: 0.5rem;
  text-decoration: none;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: 100%;
}
header nav ul li a:hover {
  cursor: pointer;
  color: hsl(0deg, 0%, 41%);
}
header nav ul li a span {
  font-size: 2rem;
  position: absolute;
  transform: translate(50%, -55%);
  transition: all 1.3s;
}
header li:hover .dropDown {
  display: inherit;
}
header li:hover a span {
  position: absolute;
  transform: translate(50%, 25%) rotateX(180deg);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons button {
  font-family: "Inter";
  font-weight: 500;
  transition: all 0.3s;
  font-size: 1rem;
  background-color: hsl(0deg, 0%, 98%);
}
.buttons button:hover {
  cursor: pointer;
  color: hsl(0deg, 0%, 41%);
}
.buttons .b-right {
  padding: 0.8rem;
  border: 2px solid hsl(0deg, 0%, 8%);
  border-radius: 10px;
  margin: 0 1.5rem;
  transition: all 0.3s;
}
.buttons .b-right:hover {
  cursor: pointer;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(257deg, 72%, 47%);
  border: 2px solid hsl(257deg, 72%, 47%);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}
main .conteúdo {
  width: 50%;
  height: 100vh;
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
main .conteúdo h2 {
  color: hsl(2deg, 64%, 54%);
  font-family: "Inter";
  font-size: 1rem;
}
main .conteúdo h1 {
  font-family: "Bely Display";
  margin-top: -2rem;
  font-size: 4rem;
  color: hsl(0deg, 0%, 8%);
}
main .conteúdo p {
  color: hsl(0deg, 0%, 8%);
  font-family: "Inter";
  font-size: 1.2rem;
}
main .conteúdo button {
  font-size: 1.5rem;
  font-family: "Inter";
  font-weight: 500;
  padding: 0.8rem;
  background: hsl(0deg, 0%, 98%);
  border: 2px solid black;
  border-radius: 10px;
  width: 45%;
  transition: all 0.3s;
}
main .conteúdo button:hover {
  cursor: pointer;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(257deg, 72%, 47%);
  border: 2px solid hsl(257deg, 72%, 47%);
}
main .banner {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
main .banner img {
  width: 145%;
  height: 140%;
  transform: translate(-10%, -12%);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: "Epilogue", sans-serif;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid hsl(0deg, 0%, 98%);
  background: hsl(0deg, 0%, 41%);
  border-radius: 1rem;
}

body {
  height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
}

.continue {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -3.5rem;
}
.continue h1 {
  font-family: "Inter";
  font-size: 1rem;
  color: hsl(0deg, 0%, 8%);
}

.ponto {
  margin-top: 10rem;
}/*# sourceMappingURL=style.css.map */