.banner {
  width: 45%;
  padding: 2% 4%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .banner-header {
    width: 100%;
    color: $Almost-White;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(17, 12, 46, 0.15);
    }

    h2 {
      text-align: justify;
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(17, 12, 46, 0.15);
    }
  }

  img {
    position: absolute;
    z-index: 10;
    width: 42rem;
    height: 40rem;
    object-fit: cover;
    top: 5rem;
    left: -80px;
  }

}