@charset "UTF-8";
.banner {
  width: 45%;
  padding: 2% 4%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.banner .banner-header {
  width: 100%;
  color: hsl(0deg, 0%, 98%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner-header h1 {
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(17, 12, 46, 0.15);
}
.banner .banner-header h2 {
  text-align: justify;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(17, 12, 46, 0.15);
}
.banner img {
  position: absolute;
  z-index: 10;
  width: 42rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  top: 5rem;
  left: -80px;
}

.formulário {
  border-radius: 1.5rem;
  width: 55%;
  padding: 1% 5%;
  background-color: hsl(0deg, 0%, 98%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.trocar-login {
  width: 120%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  color: hsl(0deg, 0%, 41%);
}
.trocar-login button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 7.5rem;
  color: hsl(0deg, 0%, 98%);
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 7px 0;
  width: 6.5rem;
  background-color: hsla(240deg, 81%, 63%, 0.5);
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}
.trocar-login button:hover {
  background-color: rgb(57, 15, 126);
}

.formulário-cadastro {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.formulário-cadastro h1 {
  font-size: 3rem;
  color: hsl(0deg, 0%, 41%);
}
.formulário-cadastro fieldset {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.label {
  position: relative;
  width: 100%;
}
.label input {
  outline: none;
  font-size: 1rem;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #4038a0;
}
.label label {
  top: -15px;
  left: 0;
  pointer-events: none;
  font-size: 12px;
  position: absolute;
  transition: all 0.2s ease-out;
  color: hsl(0deg, 0%, 41%);
}

.termosDeUso {
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.termosDeUso input {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.buttonConcluido {
  width: 70%;
}
.buttonConcluido button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 7.5rem;
  color: hsl(0deg, 0%, 98%);
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  background-color: hsla(240deg, 81%, 63%, 0.5);
  transition: all 0.3s ease-in-out;
}
.buttonConcluido button:hover {
  background-color: rgb(57, 15, 126);
}

.outrasOpções {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: hsl(0deg, 0%, 41%);
}
.outrasOpções .botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.outrasOpções .botoes .google {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 7.5rem;
  color: hsl(0deg, 0%, 98%);
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #CF4332;
  transition: all 0.3s ease-in-out;
}
.outrasOpções .botoes .google:hover {
  background-color: #943126;
}
.outrasOpções .botoes .facebook {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 7.5rem;
  color: hsl(0deg, 0%, 98%);
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #3C66C4;
  transition: all 0.3s ease-in-out;
}
.outrasOpções .botoes .facebook:hover {
  background-color: #3558a3;
}
.outrasOpções .botoes .twitter {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 7.5rem;
  color: hsl(0deg, 0%, 98%);
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #3698D9;
  transition: all 0.3s ease-in-out;
}
.outrasOpções .botoes .twitter:hover {
  background-color: #2d7fb6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
* ol,
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  background-color: hsla(240deg, 81%, 63%, 0.5);
  border-radius: 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  width: 95%;
  height: 95vh;
  display: flex;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */