@import 'variables';

* {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  box-sizing: border-box;
}




body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Purple;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.banner {
  width: 45%;
}

.formulário {
  border-radius: 20px 0px 0px 20px;
  width: 55%;
  padding: 10%;
  background-color: $Almost-White;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-header {
  margin-bottom: 1rem;
  font-size: 2rem;

  h2 {
    width: 90%;
    margin: 1rem 0 1rem 0;
    font-size: 14px;
    color: $Medium-Gray;
    flex-wrap: wrap;
  }
}

.label {
  position: relative;
  margin: 2rem 0 1rem 0;

  input {
    outline: none;
    font-size: 18px;
    width: 90%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #4038a0;
  }

  label {
    top: -15px;
    left: 0;
    pointer-events: none;
    font-size: 12px;
    position: absolute;
    transition: all 0.2s ease-out;
    color: $Medium-Gray;
  }
}

.termosDeUso{
  margin-bottom: 16px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  input{
    width: 16px;
    height: 16px;
  }
}

.buttonConcluido {
  margin-top: 1rem;

  button {
    @include button;
    background-color: $Purple;
    transition: all 0.3s ease-in-out;
      &:hover{
        background-color: rgb(57, 15, 126);
      }
  }
}

.outrasOpções {
  margin: 3rem 0 1rem 0;

  .botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .google {
      @include button;
      background-color: #CF4332;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-color: #943126;
      }
    }
    .facebook{
      @include button;
      background-color: #3C66C4;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-color: #3558a3;
      }
    }
    .twitter{
      @include button;
      background-color: #3698D9;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-color: #2d7fb6;
      }
    }
  }
}