@import 'variables';
@import 'banner';
@import 'formulário';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

  ol,
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Purple;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
